---
---

body {
	font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link, a:visited {
	text-decoration: none;
}

a:link:hover, a:visited:hover {
	text-decoration: underline;
}

a:link, a:visited, h1 {
	color: #3490dc;
}

.content p, .content ul {
	margin-bottom: 1rem;
}

.content li {
	margin-bottom: 0.5rem;
}

.content h1 {
	margin-bottom: 0.75rem;
}
