---
---

body {
	font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #3490dc;
}

.content p, .content ul {
	margin-bottom: 1rem;
}

.content li {
	margin-bottom: 0.5rem;
}
